.root {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: Montserrat,sans-serif;
  font-weight: 600;
  overflow: hidden;


  color: white;
  mix-blend-mode: exclusion;
}
